.block-line-break, .white-space-nowrap {
  white-space: nowrap !important;
}

.text-bold {
  font-weight: bold;
}

.text-bold-800 {
  font-weight: 800;
}

.text-normal {
  font-weight: normal;
}

.fz-01 {
  font-size: 0.1rem;
}

.fz-02 {
  font-size: 0.2rem;
}

.fz-03 {
  font-size: 0.3rem;
}

.fz-04 {
  font-size: 0.4rem;
}

.fz-05 {
  font-size: 0.5rem;
}

.fz-06 {
  font-size: 0.6rem;
}

.fz-07 {
  font-size: 0.7rem;
}

.fz-08 {
  font-size: 0.8rem;
}

.fz-09 {
  font-size: 0.9rem;
}

.fz-10 {
  font-size: 1rem;
}

.fz-11 {
  font-size: 1.1rem;
}

.fz-12 {
  font-size: 1.2rem;
}

.fz-13 {
  font-size: 1.3rem;
}

.fz-14 {
  font-size: 1.4rem;
}

.fz-15 {
  font-size: 1.5rem;
}

.fz-16 {
  font-size: 1.6rem;
}

.fz-17 {
  font-size: 1.7rem;
}

.fz-18 {
  font-size: 1.8rem;
}

.fz-19 {
  font-size: 1.9rem;
}

.fz-20 {
  font-size: 2rem;
}

.fz-21 {
  font-size: 2.1rem;
}

.fz-22 {
  font-size: 2.2rem;
}

.fz-23 {
  font-size: 2.3rem;
}

.fz-24 {
  font-size: 2.4rem;
}

.fz-25 {
  font-size: 2.5rem;
}

.fz-26 {
  font-size: 2.6rem;
}

.fz-27 {
  font-size: 2.7rem;
}

.fz-28 {
  font-size: 2.8rem;
}

.fz-29 {
  font-size: 2.9rem;
}

.fz-30 {
  font-size: 3rem;
}

.fz-200 {
  font-size: 200%;
}

.fz-190 {
  font-size: 190%;
}

.fz-180 {
  font-size: 180%;
}

.fz-170 {
  font-size: 170%;
}

.fz-160 {
  font-size: 160%;
}

.fz-150 {
  font-size: 150%;
}

.fz-140 {
  font-size: 140%;
}

.fz-130 {
  font-size: 130%;
}

.fz-120 {
  font-size: 120%;
}

.fz-110 {
  font-size: 110%;
}

.fz-90 {
  font-size: 90%;
}

.fz-80 {
  font-size: 80%;
}

.fz-70 {
  font-size: 70%;
}

.fz-60 {
  font-size: 60%;
}

.fz-50 {
  font-size: 50%;
}

.clickable-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.text-underline {
  text-decoration: underline !important;
}

.text-separator {
  text-align: center;
  height: 0.1rem;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8c8c8c;
  width: 100%;
}
.text-separator span {
  background-color: white;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.text-separator.text-separator-50 {
  width: 50%;
}
.text-separator.text-separator-25 {
  width: 25%;
}
.text-separator.text-separator-75 {
  width: 75%;
}

.max-content {
  width: -moz-max-content;
  width: max-content;
  min-width: 100%;
}

.width-auto {
  width: auto !important;
}

.flex-col {
  flex-direction: column;
  display: flex;
}

.flex-col-reverse {
  flex-direction: column-reverse;
  display: flex;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.flex-row-reverse {
  flex-direction: row-reverse;
  display: flex;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.flex-ratio-1 {
  flex: 1;
}

.flex-1 {
  flex: 1;
}

.flex-ratio-2 {
  flex: 2;
}

.flex-2 {
  flex: 2;
}

.flex-ratio-3 {
  flex: 3;
}

.flex-3 {
  flex: 3;
}

.flex-ratio-4 {
  flex: 4;
}

.flex-4 {
  flex: 4;
}

.flex-ratio-5 {
  flex: 5;
}

.flex-5 {
  flex: 5;
}

.flex-ratio-6 {
  flex: 6;
}

.flex-6 {
  flex: 6;
}

.flex-ratio-7 {
  flex: 7;
}

.flex-7 {
  flex: 7;
}

.flex-ratio-8 {
  flex: 8;
}

.flex-8 {
  flex: 8;
}

.flex-ratio-9 {
  flex: 9;
}

.flex-9 {
  flex: 9;
}

.flex-ratio-10 {
  flex: 10;
}

.flex-10 {
  flex: 10;
}

.flex-ratio-11 {
  flex: 11;
}

.flex-11 {
  flex: 11;
}

.flex-ratio-12 {
  flex: 12;
}

.flex-12 {
  flex: 12;
}

.flex-ratio-13 {
  flex: 13;
}

.flex-13 {
  flex: 13;
}

.flex-ratio-14 {
  flex: 14;
}

.flex-14 {
  flex: 14;
}

.flex-ratio-15 {
  flex: 15;
}

.flex-15 {
  flex: 15;
}

.flex-ratio-16 {
  flex: 16;
}

.flex-16 {
  flex: 16;
}

.flex-ratio-17 {
  flex: 17;
}

.flex-17 {
  flex: 17;
}

.flex-ratio-18 {
  flex: 18;
}

.flex-18 {
  flex: 18;
}

.flex-ratio-19 {
  flex: 19;
}

.flex-19 {
  flex: 19;
}

.flex-ratio-20 {
  flex: 20;
}

.flex-20 {
  flex: 20;
}

.tbl, .tbl-25, .tbl-50, .tbl-75, .tbl-85, .tbl-100 {
  display: table !important;
}

.inline-tbl, .tbl-inline {
  display: inline-table !important;
}

.tbl-100 {
  width: 100%;
}

.tbl-85 {
  width: 85%;
}

.tbl-75 {
  width: 75%;
}

.tbl-50 {
  width: 50%;
}

.tbl-25 {
  width: 25%;
}

.tr {
  display: table-row !important;
}

.td, .td-100, .td-95, .td-90, .td-85, .td-80, .td-75, .td-70, .td-65, .td-60, .td-55, .td-50, .td-45, .td-40, .td-35, .td-30, .td-25, .td-20, .td-15, .td-10, .td-5, .td-0 {
  vertical-align: top;
  display: table-cell !important;
}

.td-0 {
  width: 0%;
}

.td-5 {
  width: 5%;
}

.td-10 {
  width: 10%;
}

.td-15 {
  width: 15%;
}

.td-20 {
  width: 20%;
}

.td-25 {
  width: 25%;
}

.td-30 {
  width: 30%;
}

.td-35 {
  width: 35%;
}

.td-40 {
  width: 40%;
}

.td-45 {
  width: 45%;
}

.td-50 {
  width: 50%;
}

.td-55 {
  width: 55%;
}

.td-60 {
  width: 60%;
}

.td-65 {
  width: 65%;
}

.td-70 {
  width: 70%;
}

.td-75 {
  width: 75%;
}

.td-80 {
  width: 80%;
}

.td-85 {
  width: 85%;
}

.td-90 {
  width: 90%;
}

.td-95 {
  width: 95%;
}

.td-100 {
  width: 100%;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.spacer {
  width: 100%;
  height: 15px;
  display: block;
  clear: both;
}

.vat {
  vertical-align: top !important;
}

.vam {
  vertical-align: middle !important;
}

.vab {
  vertical-align: bottom !important;
}

.tal, .text-left {
  text-align: left !important;
}

.tac {
  text-align: center !important;
}

.tar, .text-right {
  text-align: right !important;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: auto;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.overflow-scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.overflow-visible-y {
  overflow-y: visible;
  overflow-x: hidden;
}

.overflow-visible-x {
  overflow-x: visible;
  overflow-y: hidden;
}

.hover-handler .hover-only {
  visibility: hidden;
}

.hover-handler:hover .hover-only {
  visibility: visible;
}

.disabled-zone {
  opacity: 0.5;
  pointer-events: none;
}

.non-clickable {
  pointer-events: none;
}

.disabled-item, .item-disabled {
  opacity: 0.7;
  pointer-events: none;
}

.cursor-auto {
  cursor: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-none {
  cursor: none;
}

.cursor-context-menu {
  cursor: context-menu;
}

.cursor-help {
  cursor: help;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-progress {
  cursor: progress;
}

.cursor-wait {
  cursor: wait;
}

.cursor-cell {
  cursor: cell;
}

.cursor-crosshair {
  cursor: crosshair;
}

.cursor-text {
  cursor: text;
}

.cursor-vertical-text {
  cursor: vertical-text;
}

.cursor-alias {
  cursor: alias;
}

.cursor-copy {
  cursor: copy;
}

.cursor-move {
  cursor: move;
}

.cursor-no-drop {
  cursor: no-drop;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-e-resize {
  cursor: e-resize;
}

.cursor-n-resize {
  cursor: n-resize;
}

.cursor-ne-resize {
  cursor: ne-resize;
}

.cursor-nw-resize {
  cursor: nw-resize;
}

.cursor-s-resize {
  cursor: s-resize;
}

.cursor-se-resize {
  cursor: se-resize;
}

.cursor-sw-resize {
  cursor: sw-resize;
}

.cursor-w-resize {
  cursor: w-resize;
}

.cursor-ew-resize {
  cursor: ew-resize;
}

.cursor-ns-resize {
  cursor: ns-resize;
}

.cursor-nesw-resize {
  cursor: nesw-resize;
}

.cursor-nwse-resize {
  cursor: nwse-resize;
}

.cursor-col-resize {
  cursor: col-resize;
}

.cursor-row-resize {
  cursor: row-resize;
}

.cursor-all-scroll {
  cursor: all-scroll;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.cursor-zoom-out {
  cursor: zoom-out;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.border-md {
  border-width: 0.3rem !important;
}

.border-lg {
  border-width: 0.5rem !important;
}

.border-xlg {
  border-width: 0.7rem !important;
}

.border-style-dashed {
  border-style: dashed !important;
}

.border-style-top-dashed {
  border-top-style: dashed !important;
}

.border-style-left-dashed {
  border-left-style: dashed !important;
}

.border-style-right-dashed {
  border-right-style: dashed !important;
}

.border-style-bottom-dashed {
  border-bottom-style: dashed !important;
}

.win_modal {
  cursor: auto;
}

.win_modal .win_modal_bg {
  background: #0b0b0b;
}

.win_modal .win_modal_base .win {
  background: white;
  color: black;
}

.win_modal .win {
  box-shadow: 0 0 2rem 0 #424242;
}

.win_header {
  background-color: white !important;
  font-weight: bold;
  text-align: left;
  font-size: 140%;
  padding: 20px;
}
.win_header .modal-btn {
  margin-top: -0.5rem;
  margin-left: 0.5rem;
}
.win_header .modal-icon {
  font-size: 2.5rem;
}

.win_header.big-header {
  background-color: white !important;
  padding: 40px;
  font-size: 150%;
}
.win_header.big-header, .win_header.big-header h1 {
  color: black;
}
.win_header.big-header h1 {
  font-size: 150%;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.win_body {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 98vh;
  background-color: white;
  color: black;
  padding: 20px;
  text-align: left;
  /*display: flex;
  flex-direction: column;*/
}

.win_body.large-body {
  padding: 40px;
}

/* Footer */
.win_body + div:not(:empty) {
  padding: 20px;
  text-align: right;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s;
}

.win_modal .win_modal_bg.fade-enter,
.win_modal .win_modal_bg.fade-leave-to,
.win_modal .win_modal_base.fade-enter,
.win_modal .win_modal_base.fade-leave-to {
  opacity: 0;
}

.win_modal .win_modal_bg {
  opacity: 0.5;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.win_modal .win_modal_base {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.win_modal .win_modal_base > div {
  display: table;
  width: 100%;
  height: 100%;
}

.win_modal .win_modal_base > div > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.win_modal .win_modal_base .win {
  color: black;
  display: inline-grid;
  width: 90%;
}

.win_modal .win {
  border-radius: 10px;
}
.win_modal .win > div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.win_modal .win > div.win_body, .win_modal .win > div.win_footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

a {
  cursor: pointer;
}

html {
  height: 100vh;
}

html, body, #app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.material-icons {
  vertical-align: middle;
  font-size: 1em;
}

.main-container {
  max-width: 800px;
  padding: 50px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-home {
  max-width: 300px;
  max-height: 200px;
}

.list-group-item-action {
  cursor: pointer;
}

.progress .bar {
  transition: none;
}

.disabled {
  opacity: 0.7;
}/*# sourceMappingURL=app.css.map */