
@use "tools.scss";
@use "modale.scss";



a {
	cursor: pointer;
}


html { height: 100vh; }
html, body, #app {
	display: flex;
	flex-direction: column;
	flex:1
}


.material-icons{
	vertical-align: middle;
	font-size: 1em;
}

.main-container {
	max-width: 800px;
	padding: 50px 50px;
	height: 100%;

	display: flex;
	flex-direction: column;
	
    justify-content: center;
}


.logo-home{
	max-width: 300px;
	max-height: 200px;
}




.list-group-item-action {
	cursor: pointer;
}

.progress .bar {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}


.disabled{
	
	opacity: 0.7;
}
