// Modale
$body-color: black;

$win-modal-overlay-bg: #0b0b0b;

$win-modal-bg: white;
$win-modal-color: $body-color;

$win-modal-body-bg: white;
$win-modal-body-color: $body-color;

$win-modal-box-shadow: 0 0 2rem 0 #424242;
$win-modale-header-bg: white;
$win-modale-header-color: $body-color;
$win-modale-big-header-bg: white;
$win-modale-big-header-color: $body-color;

$win-modal-footer-border-top-color: #f5f5f5;



.win_modal{
	cursor: auto; // Dans certains cas on change le curseur sur l'objet parent
}

.win_modal .win_modal_bg {
	background: $win-modal-overlay-bg;
}

.win_modal .win_modal_base .win {
	background: $win-modal-bg;
	color: $win-modal-color;
}

.win_modal .win {
	box-shadow: $win-modal-box-shadow;
}

.win_header {
	background-color: $win-modale-header-bg !important;
	font-weight: bold;
	text-align: left;
	font-size: 140%;

	padding: 20px;

	.modal-btn {
		margin-top: -0.5rem;
		margin-left: 0.5rem;
	}

	.modal-icon {
		font-size: 2.5rem;
	}
}

.win_header.big-header{
	background-color: $win-modale-big-header-bg !important;
	padding: 40px;
	font-size: 150%;

	&, h1 {
		color: $win-modale-big-header-color;
	}

	h1 {
		font-size: 150%;
		font-weight: bold;
		margin: 0;
		text-transform: uppercase;
	}
}


.win_body {
	overflow-y: auto;
	overflow-x: auto;
	max-height: 98vh;
	background-color: $win-modal-body-bg;
	color: $win-modal-body-color;
	padding: 20px;
	//padding-top: 0rem;
	text-align: left;
	/*display: flex;
	flex-direction: column;*/
}

.win_body.large-body{
	padding: 40px;
}

/* Footer */
.win_body + div:not(:empty){
	padding: 20px;
	text-align: right;
	//border-top: solid 0.1rem $win-modal-footer-border-top-color;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .2s;
}

.win_modal .win_modal_bg.fade-enter,
.win_modal .win_modal_bg.fade-leave-to,
.win_modal .win_modal_base.fade-enter,
.win_modal .win_modal_base.fade-leave-to
/* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

.win_modal .win_modal_bg{
	opacity: 0.5;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.win_modal .win_modal_base{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.win_modal .win_modal_base>div { display: table; width: 100%; height: 100%;}
.win_modal .win_modal_base>div>div { display: table-cell; text-align: center; vertical-align: middle;}
.win_modal .win_modal_base .win {
	//border: solid 1px #222;
	color: $win-modal-color;
	display: inline-grid;
	width: 90%;
}


$win-modale-border-radius: 10px;

.win_modal .win {
	border-radius: $win-modale-border-radius;

	&>div:first-child {
		border-top-left-radius: $win-modale-border-radius;
		border-top-right-radius: $win-modale-border-radius;
	}
	&>div.win_body, &>div.win_footer {
		border-bottom-left-radius: $win-modale-border-radius;
		border-bottom-right-radius: $win-modale-border-radius;
	}

}