

// ************* Line break
.block-line-break, .white-space-nowrap {
	white-space: nowrap !important;
}

.text-bold{
	font-weight: bold;
}

.text-bold-800 {
	font-weight: 800;
}

.text-normal{
	font-weight: normal;
}

.fz-01 { font-size:0.1rem; }
.fz-02 { font-size:0.2rem; }
.fz-03 { font-size:0.3rem; }
.fz-04 { font-size:0.4rem; }
.fz-05 { font-size:0.5rem; }
.fz-06 { font-size:0.6rem; }
.fz-07 { font-size:0.7rem; }
.fz-08 { font-size:0.8rem; }
.fz-09 { font-size:0.9rem; }
.fz-10 { font-size:1rem; }
.fz-11 { font-size:1.1rem; }
.fz-12 { font-size:1.2rem; }
.fz-13 { font-size:1.3rem; }
.fz-14 { font-size:1.4rem; }
.fz-15 { font-size:1.5rem; }
.fz-16 { font-size:1.6rem; }
.fz-17 { font-size:1.7rem; }
.fz-18 { font-size:1.8rem; }
.fz-19 { font-size:1.9rem; }
.fz-20 { font-size:2rem; }
.fz-21 { font-size:2.1rem; }
.fz-22 { font-size:2.2rem; }
.fz-23 { font-size:2.3rem; }
.fz-24 { font-size:2.4rem; }
.fz-25 { font-size:2.5rem; }
.fz-26 { font-size:2.6rem; }
.fz-27 { font-size:2.7rem; }
.fz-28 { font-size:2.8rem; }
.fz-29 { font-size:2.9rem; }
.fz-30 { font-size:3rem; }

.fz-200 { font-size: 200%; }
.fz-190 { font-size: 190%; }
.fz-180 { font-size: 180%; }
.fz-170 { font-size: 170%; }
.fz-160 { font-size: 160%; }
.fz-150 { font-size: 150%; }
.fz-140 { font-size: 140%; }
.fz-130 { font-size: 130%; }
.fz-120 { font-size: 120%; }
.fz-110 { font-size: 110%; }
.fz-90 { font-size: 90%; }
.fz-80 { font-size: 80%; }
.fz-70 { font-size: 70%; }
.fz-60 { font-size: 60%; }
.fz-50 { font-size: 50%; }


.clickable-text:hover{
	text-decoration: underline;
	cursor: pointer;
}

.text-underline {
    text-decoration: underline!important;
}

.text-separator
{
	text-align: center;
	height: 0.1rem;
	margin: 3rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #8c8c8c;
	width: 100%;

	span{
		background-color: white;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
	}

	&.text-separator-50{
		width: 50%;
	}
	&.text-separator-25{
		width: 25%;
	}
	&.text-separator-75{
		width: 75%;
	}
}




// ===================== Positionning

// Width

.max-content{
	width: max-content;
	min-width: 100%;
	//padding-right: 2rem;
}

.width-auto{
	width: auto !important;
}


//  FLEX
.flex-col {
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
}

.flex-col-reverse {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    display: flex;
}


.flex-row {
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
}

.flex-row-reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    display: flex;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-justify-content-end {
    justify-content: flex-end;
}

@mixin generate-flex($i: 1) {
	.flex-ratio-#{$i} { -ms-flex: $i; flex: $i; }
	.flex-#{$i} { -ms-flex: $i; flex: $i; }
}

@for $i from 1 through 20 { @include generate-flex($i); }

//  Table
.tbl {
	display:table !important;
}
.inline-tbl, .tbl-inline {
	display:inline-table !important;
}

.tbl-100 {
	@extend .tbl;
	width: 100%;
}

.tbl-85 { @extend .tbl; width: 85%;}
.tbl-75 { @extend .tbl; width: 75%; }
.tbl-50 { @extend .tbl; width: 50%; }
.tbl-25 { @extend .tbl; width: 25%; }


.tr {
	display:table-row !important;
}

.td {
	vertical-align: top;
	display:table-cell !important;
}

@mixin generate-td($i: 0) {
	.td-#{$i} { @extend .td; width: #{"#{$i}%"}; }
}

$i: 0;
@while $i <= 100 { @include generate-td($i); $i: $i + 5 }

// Margin padding

.ml-auto{
	margin-left: auto;
}

.mr-auto{
	margin-right: auto;
}

// Generic Spacing

.spacer {
    width: 100%;
    height: 15px;
    display: block;
    clear: both;
}

.vat { vertical-align: top !important; }
.vam { vertical-align: middle !important; }
.vab { vertical-align: bottom !important; }
.tal, .text-left { text-align: left !important; }
.tac { text-align: center !important; }
.tar, .text-right { text-align: right !important; }



// ************** Overflow ***********
.overflow-hidden {
	overflow:hidden;
}

.overflow-scroll{
	overflow:auto;
}

.overflow-visible {
	overflow: visible;
}

.overflow-scroll-x {
	overflow-x: auto;
	overflow-y: hidden;
}

.overflow-scroll-y {
	overflow-y: auto;
	overflow-x: hidden;
}

.overflow-visible-y {
	overflow-y: visible;
	overflow-x: hidden;
}

.overflow-visible-x {
	overflow-x: visible;
	overflow-y: hidden;
}

// *************** Hover **************
.hover-handler .hover-only {
	visibility: hidden;
}

.hover-handler:hover .hover-only {
	visibility: visible;
}




.disabled-zone {
	opacity: 0.5;
	pointer-events: none;
}

.non-clickable {
	pointer-events: none;
}



.disabled-item, .item-disabled{
	opacity: 0.7;
	pointer-events: none;
}


// *************** Cursor

.cursor-auto { cursor: auto; }
.cursor-default { cursor: default; }
.cursor-none { cursor: none; }
.cursor-context-menu { cursor: context-menu; }
.cursor-help { cursor: help; }
.cursor-pointer { cursor: pointer; }
.cursor-progress { cursor: progress; }
.cursor-wait { cursor: wait; }
.cursor-cell { cursor: cell; }
.cursor-crosshair { cursor: crosshair; }
.cursor-text { cursor: text; }
.cursor-vertical-text { cursor: vertical-text; }
.cursor-alias { cursor: alias; }
.cursor-copy { cursor: copy; }
.cursor-move { cursor: move; }
.cursor-no-drop { cursor: no-drop; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-e-resize { cursor: e-resize; }
.cursor-n-resize { cursor: n-resize; }
.cursor-ne-resize { cursor: ne-resize; }
.cursor-nw-resize { cursor: nw-resize; }
.cursor-s-resize { cursor: s-resize; }
.cursor-se-resize { cursor: se-resize; }
.cursor-sw-resize { cursor: sw-resize; }
.cursor-w-resize { cursor: w-resize; }
.cursor-ew-resize { cursor: ew-resize; }
.cursor-ns-resize { cursor: ns-resize; }
.cursor-nesw-resize { cursor: nesw-resize; }
.cursor-nwse-resize { cursor: nwse-resize; }
.cursor-col-resize { cursor: col-resize; }
.cursor-row-resize { cursor: row-resize; }
.cursor-all-scroll { cursor: all-scroll; }
.cursor-zoom-in { cursor: zoom-in; }
.cursor-zoom-out { cursor: zoom-out; }
.cursor-grab { cursor: grab; }
.cursor-grabbing { cursor: grabbing; }



.border-md { border-width: 0.3rem !important; }
.border-lg { border-width: 0.5rem !important; }
.border-xlg { border-width: 0.7rem !important; }


.border-style-dashed {
	border-style: dashed !important;
}

.border-style-top-dashed {
	border-top-style: dashed !important;
}

.border-style-left-dashed {
	border-left-style: dashed !important;
}

.border-style-right-dashed {
	border-right-style: dashed !important;
}

.border-style-bottom-dashed {
	border-bottom-style: dashed !important;
}
